<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stocks</key>
	<array>
		<dict>
			<key>symbol</key>
			<string>AAPL</string>
			<key>name</key>
			<string>Apple, Inc.</string>
			<key>market</key>
			<string>NasdaqNM</string>
			<key>currency</key>
			<string>USD</string>
			<key>numberOfShares</key>
			<string>1</string>
			<key>purchaseSharePrice</key>
			<string>64.54</string>
			<key>purchaseDate</key>
			<string>28/01/2013</string>
			<key>purchaseCurrencyRate</key>
			<dict>
				<key>EUR</key>
				<string>1.3454</string>
			</dict>
		</dict>
		<dict>
			<key>symbol</key>
			<string>TSLA</string>
			<key>name</key>
			<string>Tesla Motors</string>
			<key>market</key>
			<string>NasdaqNM</string>
			<key>currency</key>
			<string>USD</string>
			<key>numberOfShares</key>
			<string>1</string>
			<key>purchaseSharePrice</key>
			<string>199.09</string>
			<key>purchaseDate</key>
			<string>18/04/2014</string>
			<key>purchaseCurrencyRate</key>
			<dict>
				<key>EUR</key>
				<string>1.3772</string>
			</dict>
		</dict>
	</array>
	<key>sales</key>
	<array>
		<dict>
			<key>symbol</key>
			<string>AAPL</string>
			<key>name</key>
			<string>Apple, Inc.</string>
			<key>currency</key>
			<string>USD</string>
			<key>numberOfShares</key>
			<string>10</string>
			<key>purchaseSharePrice</key>
			<string>401.45</string>
			<key>sellingSharePrice</key>
			<string>520.56</string>
			<key>purchaseCurrencyRate</key>
			<string>1.3747</string>
			<key>sellingCurrencyRate</key>
			<string>1.3366</string>
			<key>purchaseDate</key>
			<string>20/10/2011</string>
			<key>saleDate</key>
			<string>05/12/2013</string>
		</dict>
		<dict>
			<key>symbol</key>
			<string>AAPL</string>
			<key>name</key>
			<string>Apple, Inc.</string>
			<key>currency</key>
			<string>USD</string>
			<key>numberOfShares</key>
			<string>34</string>
			<key>purchaseSharePrice</key>
			<string>64.54</string>
			<key>sellingSharePrice</key>
			<string>100.00</string>
			<key>purchaseCurrencyRate</key>
			<string>1.3454</string>
			<key>sellingCurrencyRate</key>
			<string>1.3026</string>
			<key>purchaseDate</key>
			<string>28/01/2013</string>
			<key>saleDate</key>
			<string>29/10/2014</string>
		</dict>
		<dict>
			<key>symbol</key>
			<string>TSLA</string>
			<key>name</key>
			<string>Tesla Motors</string>
			<key>currency</key>
			<string>USD</string>
			<key>numberOfShares</key>
			<string>9</string>
			<key>purchaseSharePrice</key>
			<string>199.09</string>
			<key>sellingSharePrice</key>
			<string>260.00</string>
			<key>purchaseCurrencyRate</key>
			<string>1.3772</string>
			<key>sellingCurrencyRate</key>
			<string>1.3026</string>
			<key>purchaseDate</key>
			<string>18/04/2014</string>
			<key>saleDate</key>
			<string>29/10/2014</string>
		</dict>
	</array>
</dict>
</plist>
