<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stocks</key>
	<array>
		<dict>
			<key>symbol</key>
			<string>AAPL</string>
			<key>name</key>
			<string>Apple, Inc.</string>
			<key>market</key>
			<string>NasdaqNM</string>
			<key>currency</key>
			<string>USD</string>
			<key>numberOfShares</key>
			<string>25</string>
			<key>purchaseSharePrice</key>
			<string>64.54</string>
			<key>purchaseDate</key>
			<string>28/01/2013</string>
			<key>purchaseCurrencyRate</key>
			<dict>
				<key>EUR</key>
				<string>1.3454</string>
				<key>BRL</key>
				<string>0.3797</string>
			</dict>
		</dict>
		<dict>
			<key>symbol</key>
			<string>TSLA</string>
			<key>name</key>
			<string>Tesla Motors</string>
			<key>market</key>
			<string>NasdaqNM</string>
			<key>currency</key>
			<string>USD</string>
			<key>numberOfShares</key>
			<string>11</string>
			<key>purchaseSharePrice</key>
			<string>199.09</string>
			<key>purchaseDate</key>
			<string>18/04/2014</string>
			<key>purchaseCurrencyRate</key>
			<dict>
				<key>EUR</key>
				<string>1.3772</string>
				<key>BRL</key>
				<string>0.3797</string>
			</dict>
		</dict>
		<dict>
			<key>symbol</key>
			<string>SOLB.PA</string>
			<key>name</key>
			<string>Solvay</string>
			<key>market</key>
			<string>Paris</string>
			<key>currency</key>
			<string>EUR</string>
			<key>numberOfShares</key>
			<string>12</string>
			<key>purchaseSharePrice</key>
			<string>118.90</string>
			<key>purchaseDate</key>
			<string>09/09/2014</string>
			<key>purchaseCurrencyRate</key>
			<dict>
				<key>USD</key>
				<string>0.8444</string>
				<key>BRL</key>
				<string>0.3207</string>
			</dict>
		</dict>
		<dict>
			<key>symbol</key>
			<string>TM</string>
			<key>name</key>
			<string>Toyota Motor Corporation</string>
			<key>market</key>
			<string>NYSE</string>
			<key>currency</key>
			<string>USD</string>
			<key>numberOfShares</key>
			<string>5</string>
			<key>purchaseSharePrice</key>
			<string>120.00</string>
			<key>purchaseDate</key>
			<string>18/04/2014</string>
			<key>purchaseCurrencyRate</key>
			<dict>
				<key>EUR</key>
				<string>1.1824</string>
				<key>BRL</key>
				<string>0.3797</string>
			</dict>
		</dict>
		<dict>
			<key>symbol</key>
			<string>NFLX</string>
			<key>name</key>
			<string>Netflix, Inc.</string>
			<key>market</key>
			<string>NasdaqNM</string>
			<key>currency</key>
			<string>USD</string>
			<key>numberOfShares</key>
			<string>2</string>
			<key>purchaseSharePrice</key>
			<string>335.00</string>
			<key>purchaseDate</key>
			<string>18/04/2014</string>
			<key>purchaseCurrencyRate</key>
			<dict>
				<key>EUR</key>
				<string>1.1824</string>
				<key>BRL</key>
				<string>0.3797</string>
			</dict>
		</dict>
		<dict>
			<key>symbol</key>
			<string>K</string>
			<key>name</key>
			<string>Kellogg Company</string>
			<key>market</key>
			<string>NYSE</string>
			<key>currency</key>
			<string>USD</string>
			<key>numberOfShares</key>
			<string>8</string>
			<key>purchaseSharePrice</key>
			<string>65.00</string>
			<key>purchaseDate</key>
			<string>18/04/2014</string>
			<key>purchaseCurrencyRate</key>
			<dict>
				<key>EUR</key>
				<string>1.1824</string>
				<key>BRL</key>
				<string>0.3797</string>
			</dict>
		</dict>
	</array>
	<key>sales</key>
	<array>
		<dict>
			<key>symbol</key>
			<string>AAPL</string>
			<key>name</key>
			<string>Apple, Inc.</string>
			<key>currency</key>
			<string>USD</string>
			<key>numberOfShares</key>
			<string>10</string>
			<key>purchaseSharePrice</key>
			<string>401.45</string>
			<key>sellingSharePrice</key>
			<string>520.56</string>
			<key>purchaseCurrencyRate</key>
			<string>1.3747</string>
			<key>sellingCurrencyRate</key>
			<string>1.3366</string>
			<key>purchaseDate</key>
			<string>20/10/2011</string>
			<key>saleDate</key>
			<string>05/12/2013</string>
		</dict>
		<dict>
			<key>symbol</key>
			<string>AAPL</string>
			<key>name</key>
			<string>Apple, Inc.</string>
			<key>currency</key>
			<string>USD</string>
			<key>numberOfShares</key>
			<string>34</string>
			<key>purchaseSharePrice</key>
			<string>64.54</string>
			<key>sellingSharePrice</key>
			<string>100.00</string>
			<key>purchaseCurrencyRate</key>
			<string>1.3454</string>
			<key>sellingCurrencyRate</key>
			<string>1.3026</string>
			<key>purchaseDate</key>
			<string>28/01/2013</string>
			<key>saleDate</key>
			<string>29/10/2014</string>
		</dict>
		<dict>
			<key>symbol</key>
			<string>TSLA</string>
			<key>name</key>
			<string>Tesla Motors</string>
			<key>currency</key>
			<string>USD</string>
			<key>numberOfShares</key>
			<string>9</string>
			<key>purchaseSharePrice</key>
			<string>199.09</string>
			<key>sellingSharePrice</key>
			<string>260.00</string>
			<key>purchaseCurrencyRate</key>
			<string>1.3772</string>
			<key>sellingCurrencyRate</key>
			<string>1.3026</string>
			<key>purchaseDate</key>
			<string>18/04/2014</string>
			<key>saleDate</key>
			<string>29/10/2014</string>
		</dict>
	</array>
</dict>
</plist>
